.block {
    background: #F5F5F5;
    border-left: #555555 1px solid;
    padding: 1rem;
    margin: 1rem;
}

.flex-display {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-box {
    width: 250px;
}

.informations {
    width: 400px;
}

.button {
    border: 1px solid #555555;
    background: #284387;
    color: white;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
}

.button:hover {
    background: #3e65c5;
}

.button:active {
    background: #1f356a;
}

.close{
    border-radius: 50px;
    background: #E04B43;
}

.close:hover {
    background: #e66f68;
}

.close:active {
    background: #bb261e;
}

.input {
    margin-right: 10px;
}
