<div>
  <h2>Tesla Inc (TSLA)</h2>  <!-- TODO : Ajouter le titre du stock -->
  <p>Change today : +5.6%</p>  <!-- TODO : ajouter les infos et piper avec percent -->
  <p>Current Price : $1,562</p>  <!-- TODO : ajouter les infos et piper avec currency -->
  <p>Change today : $1,400</p> <!-- TODO : ajouter les infos et piper avec currency -->
  <p>Change today : $1,750</p> <!-- TODO : ajouter les infos et piper avec currency -->

  <app-current-trend></app-current-trend>
  <button routerLink="/sentiment/TLSA">Go to social sentiment details ></button> <!-- TODO : variabiliser le symbol -->

</div>